@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" style="font-family: 'Poppins', sans-serif; background-color: #33cc95; text-align:center;">
    <h1 style="color: #f0f2f5;">Escola SIEG</h1>
    <p" class="lead">Nosso dever é te ver crescer</p>

</div>

<div class="row">
    <div class="col-md-4" style="margin: 1%; background-color: #33cc95; width: 30%; font-family: 'Poppins', sans-serif; font-size: 16px; ">
        <h2 style="color: #f0f2f5;">Princípios da escola:</h2>
        <p>
            Nossa escola foi fundada em 2022, a disciplina faz parte de um dos valores fundamentais para que o aluno se mantenha em nosso ambiente escolar. Acreditamos no poder da educação e na transformação que a mesma causa na vida das pessoas, por isso a escola SIEG está empenhada em ajudar seu filho no que ele precisar.
        </p>

    </div>
    <div class="col-md-4" style="margin: 1%; background-color: #33cc95; width: 30%; font-family: 'Poppins', sans-serif; font-size: 16px; ">
        <h2 style="color: #f0f2f5;">Metas do ano:</h2>
        <p>Implementar o programa Mais Bolsas, que consiste em 10 bolsas de estudos para pessoas carentes das periferias de Recife. </p>

    </div>
    <div class="col-md-4" style="margin: 1%; background-color: #33cc95; width: 30%; font-family: Verdana, Geneva, Tahoma, sans-serif; font-size: 16px;">
        <h2 style="color: #f0f2f5;">Conheça nossa escola:</h2>
        <p>Escola SIEG 2022</p>
        <p>Ir até o site: <a class="btn btn-default" href="https://pp.colegiomotivo.com.br/"   style="background-color: #6933FF; color: whitesmoke;">Acessar</a></p>
    </div>
</div>